{%extends "administrator/base.html"%}
{%load static%}
{%load crispy_forms_tags%}

{%block styles%}
{%endblock styles%}

{%block javascript%}
<script>
  jQuery(document).ready(function($) {
    $(".clickable-row").css("cursor", "pointer");
    $(".clickable-row").click(function() {
      window.location = $(this).data("href");
    });
  });
</script>
{%endblock javascript%}


{%block content%}
	<div class="container wow fadeIn">
		<span class="align-middle display-4 font-weight-bold mt-4">
			 list of classes
		</span>
    <a href='{%url 'post-create'%}' class="align-middle btn btn-outline-info">add new</a>
    <hr>

		<div class="row">
			<div class="col-12">
				<table class="table table-hover shadow-sm">
	        <caption>Click anywhere in a row to to edit a post.</caption>
	        <thead class="bg-info text-white">
	          <tr>
	            <th scope="col">Post ID</th>
	            <th scope="col">Title</th>
	            <th scope="col">Author</th>
	            <th scope="col">Date Posted</th>
	            <th scope="col">Actions</th>
	          </tr>
	        </thead>
	        <tbody>
	          {%for post in posts%}
	          <tr class="clickable-row" data-href={%url 'post-update' post.id%}>
	            <th scope="row">{{post.id}}</th>
	            <td>{{post.title}}</td>
	            <td>{{post.author.first_name}} {{post.author.last_name}}</td>
	            <td>{{post.date_posted}}</td>
	            <td><a href="{%url 'post-update' post.id%}"><i class="fa fa-edit"></i></a></td>
	          </tr>
	          {%endfor%}
	        </tbody>
	      </table>
			</div>
			</div>
		</div>
{%endblock content%}
