{%extends "administrator/base.html"%}
{%load static%}
{%load crispy_forms_tags%}

{%block styles%}
{%endblock styles%}

{%block javascript%}
<script>
jQuery(document).ready(function($) {
	function readURL(input) {
	  if (input.files && input.files[0]) {
	    var reader = new FileReader();
	    reader.onload = function(e) {
	      $('#preview_image').attr('src', e.target.result);
	    }
	    reader.readAsDataURL(input.files[0]);
	  }
	}

	$("#id_image").change(function() {
	  readURL(this);
	});
});
</script>
{%endblock javascript%}

{%block breadcrumbs%}
<div class="container mt-2">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{%url 'dashboard'%}">Admin</a></li>
      <li class="breadcrumb-item"><a href="{%url 'staff-list'%}">Manage Staff</a></li>
      <li class="breadcrumb-item active" aria-current="page">Add New Staff</li>
    </ol>
  </nav>
</div>
{%endblock breadcrumbs%}

{%block content%}
	<div class="container wow fadeIn">
		<span class="display-4 font-weight-bold mt-4">
			add staff
		</span>
		<div class="row">
			<div class="col-12">
				<div class="content-section">
					<form action="." enctype="multipart/form-data" method="POST">
						{%csrf_token%}
						<fieldset class="form-group">

							<div class="row">
								<div class="col-3">
									<img id="preview_image" class="img-fluid rounded-circle" src="{%static 'img/default.jpg'%}" alt="Upload preview">
									{{form.image|as_crispy_field}}

								</div>
								<div class="col-9">
									<h3>personal information</h3>
									<hr>
									<div class="row">

										<div class="col-4">{{form.first_name|as_crispy_field}}</div>
										<div class="col-4">{{form.middle_name|as_crispy_field}}</div>
										<div class="col-4">{{form.last_name|as_crispy_field}}</div>
									</div>
									<div class="row">
										<div class="col-4">{{form.school_id|as_crispy_field}}</div>
										<div class="col-2">{{form.sex|as_crispy_field}}</div>
										<div class="col-3">{{form.birthdate|as_crispy_field}}</div>
										<div class="col-3">{{form.civil_status|as_crispy_field}}</div>

									</div>
									<div class="row">
										<div class="col-5">{{form.email_address|as_crispy_field}}</div>
										<div class="col-4">{{form.contact_number|as_crispy_field}}</div>
									</div>
									<h3>job details</h3>
									<hr>
									<div class="row">
										<div class="col-5">{{form.position|as_crispy_field}}</div>
										<div class="col-4">{{form.salary|as_crispy_field}}</div>
										<div class="col-3">{{form.advisory_section|as_crispy_field}}</div>
									</div>
									<div class="row">
										<div class="col-6">{{form.appointment_file|as_crispy_field}}</div>
										<div class="col-6">{{form.pds_file|as_crispy_field}}</div>
										<div class="col-6">{{form.prc_license_file|as_crispy_field}}</div>
										<div class="col-6">{{form.saln_file|as_crispy_field}}</div>
									</div>
								</div>
							</div>

						</fieldset>
						<div class="form-group text-right">
							<input name="submit" class="btn btn-outline-success" name="submit" type="submit" value="add staff">
						</div>
					</form>
				</div>
			</div>
			</div>
		</div>
{%endblock content%}
