{%extends "administrator/base.html"%}
{%load static%}
{%load crispy_forms_tags%}

{%block styles%}
{%endblock styles%}

{%block javascript%}
<script>
  jQuery(document).ready(function($) {
    $(".clickable-row").css("cursor", "pointer");
    $(".clickable-row").click(function() {
      window.location = $(this).data("href");
    });
  });
</script>
{%endblock javascript%}

{%block breadcrumbs%}
<div class="container mt-2">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{%url 'dashboard'%}">Admin</a></li>
      <li class="breadcrumb-item active" aria-current="page">Manage Users</li>
    </ol>
  </nav>
</div>
{%endblock breadcrumbs%}

{%block content%}
	<div class="container wow fadeIn">
		<span class="align-middle display-4 font-weight-bold mt-4">
			 users
		</span>
    <a href='{%url 'user-create'%}' class="align-middle btn btn-outline-secondary">add new</a>
    <hr>

		<div class="row">
			<div class="col-12">
				<table class="table table-hover shadow-sm">
	        <caption>Click anywhere in a row to to edit a post.</caption>
	        <thead class="bg-secondary text-white">
	          <tr>
	            <th scope="col">User ID</th>
	            <th scope="col">Username</th>
	            <th scope="col">Last Login</th>
	            <th scope="col">Active</th>
	            <th scope="col">Actions</th>
	          </tr>
	        </thead>
	        <tbody>
	          {%for user in user_list%}
	          <tr class="clickable-row" data-href={%url 'user-update' user.id%}>
	            <th scope="row">{{user.id}}</th>
	            <td>{{user.username}}</td>
	            <td>{{user.last_login}}</td>
	            <td>{{user.is_active}}</td>
	            <td><a href="{%url 'user-update' user.id%}"><i class="fa fa-edit"></i></a></td>
	          </tr>
	          {%endfor%}
	        </tbody>
	      </table>
			</div>
			</div>
		</div>
{%endblock content%}
