<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <!-- Plugin for Date Time Picker and Full Calendar Plugin-->
    <script src="{% static '/assets/js/plugins/moment.min.js'%}"></script>

    <!-- Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="{% static '/assets/js/plugins/bootstrap-select.min.js'%}"></script>

    <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="{% static '/assets/js/plugins/jasny-bootstrap.min.js'%}"></script>

    <!-- Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
    <script src="{% static '/assets/js/plugins/bootstrap-datetimepicker.js'%}"></script>
    
  </head>
  <body>

  </body>
</html>
